<h1>WARNING! THIS GAME CONTAINS IMAGES OF GRAPHIC VIOLENCE.</h1>
<H2>Please verify that you are at least 18 years of age to continue.</H2>
<h3><a href='/welcome'>YES</a>   <a href='http://www.disneychannel.disney.com'>NO</a></h3>